= provide(:title, 'Sign in')
.vertical.stripes
  #form
    = form_for(:session, url: sessions_path) do |f|
      = f.label :email, 'email'
      = f.email_field :email

      = f.label :password, 'password'
      = f.password_field :password

      = f.label :remember_me, 'remember me'
      = check_box_tag :remember_me, 1, params[:remember_me]

      = f.submit "Sign in", class: "btn btn-large btn-primary"

    %p
      = link_to "forgot password?", new_password_reset_path

    %p
      New user? #{link_to "Sign up now!", signup_path}