#newgroup
  %h1
    Create your new group!
#newgroupform
  = form_for(group) do |f|
    = f.text_field :name, placeholder: "enter a name for your group"
    = f.text_area :description, rows: 6, maxlength: 250, placeholder: "enter a short description for your group"
    #groupform
      .groupcountdown
        %h4
          characters left:
          %span#char-count 250
    = f.collection_select :category, Group::CATEGORIES, :to_s, :to_s,
      include_blank: true
    = f.submit "Create my group!", class: "btn btn-large btn-primary"
    #cancel.right
      = link_to "Cancel", root_path