- if signed_in?
  .row
    - if current_user == group.user
      I'm the boss of this group
      = button_to "Delete my group", group_path, method: "delete", confirm: "Are you sure?", class: "btn btn-large btn-primary"
    - elsif current_user.member?(group)
      I'm a member
    -else
      I'm ain't jack shit up in here.
-else
  Sign up for a free ZebraCrossing membership to join this group!
%aside.span4
  %section
    %h1
      = group.name
    %br
      = group.user.name
    %h2
      = group.category
    %p
      = group.description
- if signed_in?
  %section
    = render 'groups/join_form'
  %section
    = render 'groups/feed'
- else
  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"