= provide(:title, 'where groups come together')
.content
  %h2
    where groups come together
  #effects
    %h3#getstarted
      Get started in 10 seconds.
    %h3#signup
      = link_to 'Sign up now!', '#'
    %h3#blank
      %br
    %h4#signup
      (it's free)
  %h5#more
    = link_to 'Learn more...', '#'
  %h5#signup
    = link_to 'sign up now!', '#'

#hero
  .vertical.stripes
    #form
      = render 'users/signup'
#learnmore
  %h2
    Zebra Crossing is all about your group.
  %p
    You can create groups, join groups and post messages. It's like Twitter, but just for you and your group. You can follow individual users not in your groups, but the focus is on helping your groups communicate! Your inbox will thank you.
  %br
  %p
    Perfect for political clubs, civic groups, sports teams, bowling leagues, gamer groups, parents, students, musicians and more. Zebra Crossing is currently in the very early stages, so there are only a few features, but we're hard at work at adding features and listening to users to make Zebra Crossing your favorite way to communicate with your group.
  %br
  %p
    It's free to join, free to create and join public groups. Soon, we'll add private groups which will cost a small fee, but will provide you and your members a password-protected area where you can do your thing in complete privacy.
  %br
  %p
    We don't sell your personal data like Facebook. We don't fill your timeline up with noise like Twitter. We keep it simple.
  %br
  %p
    We built Zebra Crossing because we wanted a simple, easy way for groups to communicate. Eventually, we'll add a marketplace where group members can post classified ads for other members of their group. We'll also be developing a mobile app as well as a public API so other people can build apps to take full advantage of the Zebra Crossing platform.