= provide(:title, 'Sign up')
%h1
  Sign up
.row
  .span6.offset3
    = form_for(user) do |f|
      = render 'shared/error_messages', object: f.object
      = f.label :name, "Username"
      = f.text_field :name

      = f.label :first_name
      = f.text_field :first_name

      = f.label :last_name
      = f.text_field :last_name

      = f.label :zip_code, "Zip/Postal Code"
      = f.telephone_field :zip_code

      = f.label :email
      = f.email_field :email

      = f.label :password
      = f.password_field :password

      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation

      = f.submit "Create my account", class: "btn btn=large btn-primary"