= provide(:title, user.name)
.row
  %aside.span4
    %section
      %h1
        = gravatar_for user, size: 52
        = user.name
    %section
      = render 'shared/stats'
      - if user.groups.any?
        %h3
          Groups I manage
        %ul
          - user.groups.each do |group|
            %li
              = group.name
  .span8
    = render 'follow_form' if signed_in?
    - if user.notes.any?
      %h3 Notes (#{user.notes.count})
      %br
    %ol.notes
      = render @notes
    = will_paginate @notes
