= provide(:title, user.name)
.row
  %aside.span4
    %section
      %h1
        = gravatar_for user, size: 100
        = user.name
  .span8
    - if user.notes.any?
      %h3 Notes (#{user.notes.count})
      %br
    %ol.notes
      = render @notes
    = will_paginate @notes