= provide(:title, user.name)
.row
  %aside.span4
    %section
      %h1
        = gravatar_for user, size: 52
        = user.name
    %section
      = render 'shared/stats'
    %section
      - if user.groups.any?
        %h3
          I manage #{pluralize(user.groups.count, "group")}.
        %ul
          - user.groups.each do |group|
            %li
              = link_to group.name, group_path(group)
    %section
      - if user.group_memberships.any?
        #group.memberships
          %h3
            I am a member of #{pluralize(user.memberships.count, "group")}.
          %ul
            - user.group_memberships.each do |membership|
              %li
                = link_to membership.name, group_path(membership)
  .span8
    = render 'follow_form' if signed_in?
    - if user.notes.any?
      %h3 Notes (#{user.notes.count})
      %br
    %ol.notes
      = render @notes
    = will_paginate @notes
