- if signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/stats'
      %section
        = render 'shared/note_form'
    .span8
      %h3 Your Feed
      = render partial: 'shared/feed'
-else
  %center.hero-unit
    %h1 MamaBirds
    %p
      It's hard work being a mom! Get a little help from your friends with
      MamaBirds. With MamaBirds you can share tips, communicate, buy and
      sell things and more! MamaBirds is a free community that makes it easy,
      safe and fun to connect with moms in your neighborhood.
    = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
